
header{
    background: #ffffff;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#desktop-nav {
    display: flex;
}
.dropdown-content {
    display: flex;
    gap: 20px;
    flex-direction: row;
    text-decoration: none;
}
ul {
    display: flex;
    flex-direction: column;
}


nav {
    background: #ffffff;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav img {
    height: 90px;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.nav-links {
    display: flex;
    gap: 20px;
}

nav#mobile-nav {
    display: none;
}


#mobile-menu {
    display: none;
    position: fixed;
    width: 280px;
    height: 100vh;
    background: #FFCE00;
    padding: 20px;
    right: 0;
    transition: right .3s ease-in-out;
}

#hamburger.active {
    background: #FFCE00;
}

@media (max-width: 768px) {
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }

    #mobile-menu {
        display: block;
        right: -320px;
    }

    #mobile-menu.visible {
        right: 0px;
    }
}

@media (min-width: 768px) {
    #mobile-nav {
        display: none;
    }

    #desktop-nav {
        display: flex;
    }
}
    



input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical  
  }
  
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }