header{
    background: #ffffff;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#dropdown-content{
    display: flexbox;
}
ul{
    display: flexbox;
    flex-direction: column;
}

nav {
    background: #ffffff;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav img {
    height: 90px;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.nav-links {
    display: flex;
    gap: 20px;
}

nav#mobile-nav {
    display: none;
}

#mobile-menu {
    display: none;
    position: fixed;
    width: 280px;
    height: 100vh;
    background: #FFCE00;
    padding: 20px;
    right: 0;
    transition: right .3s ease-in-out;
}

#hamburger.active {
    background: #FFCE00;
}

@media (max-width: 768px) {
    nav#dropdown {
        display: none;
    }

    nav#mobile-nav {
        display: flex;
    }

    #mobile-menu {
        display: block;
        right: -320px;
    }
    #mobile-menu.visible {
        right: 0px;
    }
}